.container {
  display: flex;
  font-family: sans-serif;
  margin-bottom: 70px;
  margin-top: 70px;
}

.sidebar {
  width: 30%;
  background-color: #f0f8ff;
  text-align: center;
  padding: 2rem;
  height: fit-content;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333;
  margin-bottom: 1rem;
}

.sidebar h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.sidebar p {
  font-size: 20px;
  margin: 8px 0;
}

.role {
  font-weight: bold;
  font-size: 1.2rem;
}

.profileicons{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 5px;
}

.giticon{
  font-size: 28px;
  cursor: pointer;
  color: black;
}

.linkedinicon{
  font-size: 28px;
    cursor: pointer;
    color: black;
}


.main {
  width: 70%;
  padding: 1rem;
  margin-left: 30px;
}

.header {
  text-align: center;
  color: orange;
  margin-bottom: 0%;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 50px;

}

.subheader {
  text-align: center;
  color: orange;
  margin-top: 1rem;
}

.details {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  margin-bottom: 50px;
  /* border-bottom: 1px solid #ccc; */
}

.contact-section {
  margin-top: 1rem;
}

.contact-section h3 {
  color: orange;
  text-align: center;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 1rem;
  resize: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.profilebutton {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
